In [412]:
import pandas as pd
import numpy as np
import warnings

In [300]:
df1=pd.read_csv(r'C:\Users\bhupe\Downloads\makan1.csv')
df2=pd.read_csv(r"C:\Users\bhupe\Downloads\makan2.csv")
df3=pd.read_csv(r"C:\Users\bhupe\Downloads\makan819.csv")
df4=pd.read_csv(r"C:\Users\bhupe\Downloads\makan1069.csv")
df5=pd.read_csv(r"C:\Users\bhupe\Downloads\makan1110.csv")
df6=pd.read_csv(r"C:\Users\bhupe\Downloads\makan1198.csv")
df7=pd.read_csv(r"C:\Users\bhupe\Downloads\makan1224.csv")
df8=pd.read_csv(r"C:\Users\bhupe\Downloads\makan1280.csv")
df9=pd.read_csv(r"C:\Users\bhupe\Downloads\makan1317.csv")

In [301]:
print("df1--",df1.shape)
print("df2--",df2.shape)
print("df3--",df3.shape)
print("df4--",df4.shape)
print("df5--",df5.shape)
print("df6--",df6.shape)
print("df7--",df7.shape)
print("df8--",df8.shape)
print("df9--",df9.shape)

df1-- (2980, 7)
df2-- (8420, 7)
df3-- (5000, 7)
df4-- (5000, 7)
df5-- (440, 7)
df6-- (960, 7)
df7-- (480, 7)
df8-- (820, 7)
df9-- (660, 7)

Concate Dataframes

In [328]:
dataframes=[df1,df2,df3,df4,df5,df6,df7,df8,df9]

In [329]:
df=pd.concat(dataframes)

In [330]:
df.to_csv("concated.csv")

In [331]:
df.shape

(24760, 7)

Data Frame Correction

In [332]:
df.head()

,Unnamed: 0,property,location,price,area,furnished status,additional details
0,0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",5.29 Cr,4520,Ready to move Construction Status,2 - 3 years oldNew
1,1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",94.93 L,1040,Ready to move Construction Status,2 - 3 years oldNew
2,2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",28.63 L,1146,New New/Resale,0 - 1 year old
3,3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",63.93 L,870,Under Construction Construction Status,Possession by Aug 2024New
4,4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",95.21 L,1045,Under Construction Construction Status,Possession by Jul 2025New

In [333]:
df=df.iloc[:,1:]

In [334]:
df.head()

,property,location,price,area,furnished status,additional details
0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",5.29 Cr,4520,Ready to move Construction Status,2 - 3 years oldNew
1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",94.93 L,1040,Ready to move Construction Status,2 - 3 years oldNew
2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",28.63 L,1146,New New/Resale,0 - 1 year old
3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",63.93 L,870,Under Construction Construction Status,Possession by Aug 2024New
4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",95.21 L,1045,Under Construction Construction Status,Possession by Jul 2025New

In [335]:
df.rename(columns={'property': 'Property',
                   'location': 'Locality',
                   'price': 'Price',
                   'area': 'Area(Sq.ft)',
                   'furnished status': 'Status',
                   'additional details': 'Details'}, 
          inplace=True)

In [336]:
df.head()

,Property,Locality,Price,Area(Sq.ft),Status,Details
0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",5.29 Cr,4520,Ready to move Construction Status,2 - 3 years oldNew
1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",94.93 L,1040,Ready to move Construction Status,2 - 3 years oldNew
2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",28.63 L,1146,New New/Resale,0 - 1 year old
3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",63.93 L,870,Under Construction Construction Status,Possession by Aug 2024New
4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",95.21 L,1045,Under Construction Construction Status,Possession by Jul 2025New

In [337]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24760 entries, 0 to 659
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Property     24760 non-null  object
 1   Locality     24760 non-null  object
 2   Price        24760 non-null  object
 3   Area(Sq.ft)  24760 non-null  int64
 4   Status       24760 non-null  object
 5   Details      24621 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.3+ MB

"Price" Column Cleaning

In [338]:
def convert_price(value):
    if 'L' in value:
        value=value.replace('L', '')
        return float(value) * 100000  # Convert Lakhs to actual number
    elif 'Cr' in value:
        value=value.replace('Cr', '')
        return float(value) * 10000000  # Convert Crores to actual number
    else:
        return float(value)

In [339]:
df["Price"]=df["Price"].apply(convert_price)

In [340]:
df["Price"]

0      52900000.0
1       9493000.0
2       2863000.0
3       6393000.0
4       9521000.0
          ...
655    16700000.0
656    11800000.0
657    18100000.0
658    13100000.0
659    16800000.0
Name: Price, Length: 24760, dtype: float64

"Status" column cleaning

In [341]:
df.head()

,Property,Locality,Price,Area(Sq.ft),Status,Details
0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",52900000.0,4520,Ready to move Construction Status,2 - 3 years oldNew
1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",9493000.0,1040,Ready to move Construction Status,2 - 3 years oldNew
2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",2863000.0,1146,New New/Resale,0 - 1 year old
3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",6393000.0,870,Under Construction Construction Status,Possession by Aug 2024New
4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",9521000.0,1045,Under Construction Construction Status,Possession by Jul 2025New

In [342]:
df["Status"]=df["Status"].str.replace('Construction Status','')

In [343]:
df["Status"]=df["Status"].str.replace('New/Resale','')

In [344]:
df["Status"].unique()

array(['Ready to move ', 'New ', 'Under Construction ', 'Resale '],
      dtype=object)

In [345]:
df["Status"]=df["Status"].str.rstrip()

In [346]:
df["Status"].unique()

array(['Ready to move', 'New', 'Under Construction', 'Resale'],
      dtype=object)

In [347]:
df.head()

,Property,Locality,Price,Area(Sq.ft),Status,Details
0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",52900000.0,4520,Ready to move,2 - 3 years oldNew
1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",9493000.0,1040,Ready to move,2 - 3 years oldNew
2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",2863000.0,1146,New,0 - 1 year old
3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",6393000.0,870,Under Construction,Possession by Aug 2024New
4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",9521000.0,1045,Under Construction,Possession by Jul 2025New

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24760 entries, 0 to 659
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Property     24760 non-null  object
 1   Locality     24760 non-null  object
 2   Price        24760 non-null  float64
 3   Area(Sq.ft)  24760 non-null  int64
 4   Status       24760 non-null  object
 5   Details      24621 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ MB

In [349]:
df.to_csv("cleaned_makan_data.csv")

"Details" column cleaning

In [350]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24760 entries, 0 to 659
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Property     24760 non-null  object
 1   Locality     24760 non-null  object
 2   Price        24760 non-null  float64
 3   Area(Sq.ft)  24760 non-null  int64
 4   Status       24760 non-null  object
 5   Details      24621 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ MB

In [351]:
df["Details"].value_counts()

Details
2 BathroomsNew East facing                          834
0 - 1 year oldNew                                   560
2 BathroomsNew North facing                         514
3 BathroomsNew East facing                          499
1 open sidesEast facing                             393
                                                   ...
6 - 7 years old2 Bathrooms8th of 19floor              1
Possession by Nov 20222 Bathrooms8th of 15floor       1
5 years old3 Bathrooms15th of 19floor                 1
6 - 7 years old3 Bathrooms12th of 19floor             1
Possession by Oct 20222 Bathrooms14th of 15floor      1
Name: count, Length: 2487, dtype: int64

In [352]:
import re

In [353]:
def extract_bathrooms(text):
    # Refined regex pattern to match digits followed by "Bathroom" or "Bathrooms" with optional spaces in between
    match = re.search(r'(\d+)\s*Bathrooms?', text, re.IGNORECASE)
    if match:
        num = int(match.group(1))  # Get the matched number as an integer
        if num > 15:
            return int(str(num)[-1])  # If greater than 15, return the last digit
        else:
            return num  # If less than or equal to 15, return the number itself
    else:
        return None  # Return None if no match is found

In [354]:
df['Details']=df['Details'].astype(str)

In [355]:
df['Bathrooms'] = df['Details'].apply(extract_bathrooms)

In [356]:
df["Bathrooms"].shape

(24760,)

In [357]:
df['Bathrooms'] .value_counts()

Bathrooms
2.0     7385
3.0     5433
4.0     2178
1.0      773
5.0      529
6.0      132
7.0       48
8.0       37
11.0      26
9.0       25
10.0      15
Name: count, dtype: int64

"Locality" column cleaning

In [358]:
df["Locality"]=df["Locality"].str.replace(', Bangalore','')

In [359]:
df.head()

,Property,Locality,Price,Area(Sq.ft),Status,Details,Bathrooms
0,5 BHK Apartment in Keya Life By The Lake,Jakkur,52900000.0,4520,Ready to move,2 - 3 years oldNew,NaN
1,2 BHK Apartment in Mantri Serenity,Subramanyapura,9493000.0,1040,Ready to move,2 - 3 years oldNew,NaN
2,Residential Plot in Vinyasa Greenland,Bidadi,2863000.0,1146,New,0 - 1 year old,NaN
3,2 BHK Apartment in Ma Sarada Upavan,Bommasandra,6393000.0,870,Under Construction,Possession by Aug 2024New,NaN
4,2 BHK Apartment in Elegant Tranquility,Rajarajeshwari Nagar,9521000.0,1045,Under Construction,Possession by Jul 2025New,NaN

In [360]:
localities=list(df["Locality"].unique())

In [361]:
import google.generativeai as genai
import time
genai.configure(api_key="AIzaSyDHtLzM5Ai9Mt3bhLq8V2qNHS_M5GNjg08")
model = genai.GenerativeModel('gemini-1.5-flash')

In [271]:
def categorize_location(locality):
    response = model.generate_content(f"Identify the geographical region that is '{locality}' of the given Bangalore neighborhood. Limit your response to one of these ten regions: North Bangalore, South Bangalore, East Bangalore, West Bangalore, Central Bangalore, Northeast Bangalore, Southeast Bangalore, Northwest Bangalore, Southwest Bangalore, or Peripheral areas. For example, if I say 'Marathahalli', you should respond with 'East Bangalore'.")
    location = response.text.lower()
    time.sleep(2)
    if "south bangalore" in location:
        return "South Bangalore"
    elif "north bangalore" in location:
        return "North Bangalore"
    elif "east bangalore" in location:
        return "East Bangalore"
    elif "west bangalore" in location:
        return "West Bangalore"
    elif "central bangalore" in location:
        return "Central Bangalore"
    elif "northeast bangalore" in location:
        return "Northeast Bangalore"
    elif "southeast bangalore" in location:
        return "Southeast Bangalore"
    elif "northwest bangalore" in location:
        return "Northwest Bangalore"
    elif "southwest bangalore" in location:
        return "Southwest Bangalore"
    else:
        return "Peripheral areas"

In [362]:
len(localities)

563

In [363]:
categorize_location("Devanahalli")

'North Bangalore'

In [273]:
l1=localities[:25]
l2=localities[25:301]
l3=localities[301:]

In [275]:
area_mapping1={}
area_mapping2={}
area_mapping3={}

In [75]:

for locality in l1:
    area = categorize_location(locality)
    area_mapping1[locality] = area
    time.sleep(2)
responce1=pd.DataFrame(area_mapping1)

for locality in l2:
    area = categorize_location(locality)
    area_mapping2[locality] = area
    time.sleep(2)
responce2=pd.DataFrame(2)

for locality in l3:
    area = categorize_location(locality)
    area_mapping3[locality] = area
    time.sleep(2)
responce3=pd.DataFrame(area_mapping3)

{'Arekere': 'West Bangalore', 'Gopasandra': 'East Bangalore', 'Essel Gardens': 'West Bangalore', 'Bannerghatta': 'South Bangalore', 'Chikkagubbi on Hennur Main Road': 'West Bangalore', 'Mahadeva Kodigehalli': 'North Bangalore', 'Bande Kodigehalli': 'East Bangalore', 'Arebannimangala': 'East Bangalore', 'Budigere': 'East Bangalore', 'Harohalli': 'West Bangalore', 'Devinagar': 'Peripheral areas', 'Seegehalli': 'North Bangalore', 'Soundarya Layout': 'South Bangalore', 'Kartik Nagar': 'Peripheral areas', 'Kithiganur': 'East Bangalore', 'Sidedahalli': 'North Bangalore', 'Yamare': 'Peripheral areas', 'Sanjay Nagar': 'North Bangalore', 'Yemalur': 'East Bangalore', 'Gundur': 'Peripheral areas', 'Armane Nagar': 'Peripheral areas', 'Raghuvanahalli': 'West Bangalore', 'Chikkadunnasandra': 'East Bangalore', 'Basavanagar': 'North Bangalore', 'Kodihalli': 'South Bangalore', 'Murugeshpalya': 'East Bangalore', 'Hosahalli': 'West Bangalore', 'Ramagondanahalli': 'South Bangalore', 'ITPL': 'East Bangalore', 'Babusa Palya': 'East Bangalore', 'Narayanaghatta': 'West Bangalore', 'Belathur On Sarjapur Bagalur Road': 'East Bangalore', 'New Thippasandra': 'East Bangalore', 'JP Nagar Phase 5': 'South Bangalore', 'Anugondahalli': 'West Bangalore', 'Vimanapura': 'East Bangalore', 'Channasandra': 'North Bangalore', 'Bellahalli': 'North Bangalore', 'Kadubeesanahalli': 'East Bangalore', 'Sampangi Rama Nagara': 'Central Bangalore', 'Hosahudya': 'Peripheral areas', 'Yadavanahalli': 'South Bangalore', 'Bhoganhalli': 'East Bangalore', 'Mandur': 'East Bangalore', 'Ulsoor': 'Central Bangalore', 'Chinnayanpalya': 'East Bangalore', 'Somapura': 'Peripheral areas', 'Kyalasanahalli': 'North Bangalore', 'Sanjaynagar': 'North Bangalore', 'Mylasandra': 'Peripheral areas', 'hongasandra bangalore': 'South Bangalore', 'Binnipete': 'North Bangalore', 'Devannahalli': 'West Bangalore', 'Nandi Hills': 'Peripheral areas', 'Ilathore': 'Peripheral areas', 'Jayamahal': 'Central Bangalore', 'Agrahara': 'Peripheral areas', 'R T Nagar': 'North Bangalore', 'Rustam bagh Layout': 'West Bangalore', 'Jagajeevanram Nagar': 'West Bangalore', 'Sudhama Nagar': 'West Bangalore', 'Laggere': 'Peripheral areas', 'Ganganagar': 'North Bangalore', 'Jagadenahalli': 'East Bangalore', 'Doddabanahalli': 'South Bangalore', 'Doddaballapura': 'West Bangalore', 'Ejipura': 'East Bangalore', 'Shanti Nagar': 'Central Bangalore', 'Navarathna Agrahara': 'Peripheral areas', 'Nagapura': 'Peripheral areas', 'Richards Town': 'Central Bangalore', 'Singanayakanahalli': 'East Bangalore', 'Kacharakanahalli': 'South Bangalore', 'Seshadripuram': 'Central Bangalore', 'Chinnapanna Halli': 'West Bangalore', 'Kammanahalli': 'East Bangalore', 'Palace Guttahalli': 'Central Bangalore', 'Doddakannelli': 'West Bangalore', 'Magadi': 'West Bangalore', 'Mavalli': 'South Bangalore', 'Basavanapura': 'West Bangalore', 'Kaval Bairasandra': 'East Bangalore', 'Lalbagh Road': 'Central Bangalore', 'Bettadasanapura': 'South Bangalore', 'Tippenahalli': 'North Bangalore', 'Bedarahalli': 'South Bangalore', 'Bagalakunte': 'West Bangalore', 'Thotada Guddadhalli Village': 'East Bangalore', 'kamakshipalya': 'West Bangalore', 'Hullahalli': 'North Bangalore', 'Pura': 'Peripheral areas', 'Mahalakshmi Layout': 'West Bangalore', 'Domlur': 'East Bangalore', 'Langford Gardens': 'Peripheral areas', 'Pattandur Agrahara': 'South Bangalore', 'Hunasamaranahalli': 'East Bangalore', 'Muneshwara Nagar': 'South Bangalore', 'Ragavendra Nagar': 'South Bangalore', 'Chikkabanavara': 'West Bangalore', 'SMV Layout': 'South Bangalore', 'Hancharahalli Village': 'North Bangalore', 'Kacharakanahalli Hennur Main Road': 'East Bangalore', 'Tejaswini Nagar': 'East Bangalore', 'Choudadenahalli': 'North Bangalore', 'Kodipalya': 'South Bangalore', 'Thammenahalli Village': 'North Bangalore', 'Samethanahalli': 'East Bangalore', 'Machohalli': 'East Bangalore', 'Panduranga Nagar': 'South Bangalore', 'Ramasandra': 'Peripheral areas', 'Domlur Layout': 'East Bangalore', 'Chikkabana Halli': 'West Bangalore', 'Konasandra': 'South Bangalore', 'Srirampuram': 'Central Bangalore', 'Gudighattanahalli': 'North Bangalore', 'Kuthaganahalli': 'East Bangalore', 'Kadabagere': 'South Bangalore', 'Makali': 'Peripheral areas', 'Ramohalli': 'West Bangalore', 'Dodderi': 'South Bangalore', 'Rajapura': 'Peripheral areas', 'Mathikere': 'North Bangalore', 'Adugodi': 'South Bangalore', 'Hosuru': 'South Bangalore', 'Byagadadhenahalli': 'East Bangalore', 'Baliganapalli': 'South Bangalore', 'Udayagiri': 'South Bangalore', 'Vakil Garden City': 'Peripheral areas', 'Aduru': 'Peripheral areas', 'Gollarapalya': 'South Bangalore', 'Cholur Palya': 'East Bangalore', 'HMT Housing Colony': 'Peripheral areas', 'Attiguppe': 'West Bangalore', 'Azad Nagar': 'West Bangalore', 'Kachohalli': 'South Bangalore', 'Chikkasandra': 'Central Bangalore', 'Munnekollal': 'North Bangalore', 'Kempapura Agrahara': 'North Bangalore', 'Class D Employees Housing Society Layout': 'Peripheral areas', 'Agrahara Layout': 'South Bangalore', 'Chikkabidarakallu': 'East Bangalore', 'Doddasanne': 'East Bangalore', 'Boyalahalli': 'East Bangalore', 'Kambipura': 'Peripheral areas', 'Somathanahalli': 'East Bangalore', 'Gnana Bharathi': 'Peripheral areas', 'Murugesh Palya': 'East Bangalore', 'Mailasandra': 'South Bangalore', 'Nagarathpet': 'East Bangalore', 'Bikasipura': 'South Bangalore', 'Giddenahalli': 'West Bangalore', 'Halanayakanahalli': 'West Bangalore', 'Dasarahalli': 'West Bangalore', 'Avalahalli': 'West Bangalore', 'Muthagatti': 'West Bangalore', 'Gollarapalya Hosahalli': 'North Bangalore', 'Yelachanayakanapura': 'North Bangalore', 'Lingarajpuram': 'East Bangalore', 'Hegganahalli': 'West Bangalore', 'Tirumanahalli': 'North Bangalore', 'Suradhenupura': 'Peripheral areas', 'Anchepalya Tumkur Road': 'West Bangalore', 'Marasandra Plantation': 'Peripheral areas', 'Jogupalya': 'South Bangalore', 'HAL': 'Peripheral areas', 'Nehru Nagar': 'South Bangalore', 'Kurubarakunte': 'Peripheral areas', 'Gandhi Nagar': 'Central Bangalore', 'T Dasarahalli': 'West Bangalore', 'Kommasandra': 'Peripheral areas', 'Tharabanahalli': 'South Bangalore', 'Sanjeevini Nagar': 'Peripheral areas', 'Hebbal Kempapura': 'North Bangalore', 'Mantana Kurchi': 'Peripheral areas', 'judicial layout': 'Peripheral areas', 'Huttanahalli': 'West Bangalore', 'Lakeview Residency': 'Peripheral areas', 'Devara Jeevanahalli': 'East Bangalore', 'Buragunte': 'Peripheral areas', 'Chikbanavara': 'North Bangalore', 'Sulikere': 'South Bangalore', 'Basavanahalli': 'East Bangalore', 'Byadralli': 'West Bangalore', 'Dasanapura': 'West Bangalore', 'Bikkanahalli': 'East Bangalore', 'V. Kallahalli': 'South Bangalore', 'Singapura': 'Peripheral areas', 'CK Palya': 'East Bangalore', 'Bychapura': 'North Bangalore', 'Ittangur': 'East Bangalore', 'Bukkasagara': 'Peripheral areas', 'Kasaba Hobli': 'Peripheral areas', 'Hosahalli Nice Ring Road': 'West Bangalore', 'Victoria Layout': 'Central Bangalore', 'Seshagiripura': 'South Bangalore', 'Madavara': 'Peripheral areas', 'Sathnur': 'West Bangalore', 'Bendre Nagar': 'Peripheral areas', 'Thattanahalli': 'South Bangalore', 'Hulimangala': 'East Bangalore', 'Kaikondrahalli': 'South Bangalore', 'Gantiganahalli': 'North Bangalore', 'Sadashiva Nagar': 'West Bangalore', 'Sivanchetti Gardens': 'West Bangalore', 'KPC Layout': 'West Bangalore', 'Palace Road': 'Peripheral areas', 'Gopalapura': 'Peripheral areas', 'Chowdasandra': 'East Bangalore', 'Thurahalli': 'West Bangalore', 'Vignana Kendra': 'Peripheral areas', 'Dandupalya': 'East Bangalore', 'Channanayakanapalya': 'South Bangalore', 'Vishveshwaraya Nagar': 'Central Bangalore', 'Bettadasapura': 'South Bangalore', 'Sunkalpalya': 'East Bangalore', 'Sevashrama': 'Peripheral areas', 'Gubbalala Main Road': 'East Bangalore', 'gubbalala': 'Peripheral areas', 'Madanayakahalli': 'South Bangalore', 'Harlur Road': 'East Bangalore', 'Coffee Board Layout': 'Peripheral areas', 'Ganga Nagar': 'North Bangalore', 'Ananda Nagar': 'Peripheral areas', 'Soppahalli': 'East Bangalore', 'Thubarahalli': 'West Bangalore', 'Kathriguppe Banashankari 3rd Stage': 'West Bangalore', 'MCECHS Layout Phase 2': 'Peripheral areas', 'Channasandra Layout': 'North Bangalore', 'H Cross': 'South Bangalore', 'Jangamakote Cross': 'Peripheral areas', 'Kanaka Nagar Main Road': 'West Bangalore', 'Byrathi in Hennur Road': 'West Bangalore', 'Bellary Road Hebbal Kempapura': 'West Bangalore', 'Manchappanahosahalli': 'South Bangalore', 'Budigere Road': 'East Bangalore', 'Pai Layout': 'South Bangalore', 'Doddakallasandra': 'South Bangalore', 'Konappana Agrahara': 'South Bangalore', 'Budigere Cross Flyover': 'East Bangalore', 'Bagalur Main Road': 'East Bangalore', 'Dasanayakanahalli': 'East Bangalore', 'Maralakunte': 'Peripheral areas', 'Sultan Palya': 'East Bangalore', 'Lingadeeranahalli': 'North Bangalore', 'AECS Layout Marathahalli': 'East Bangalore', 'kagalipura Kanakapura Main Road': 'West Bangalore', 'New Airport Road': 'Peripheral areas', 'M Hosahalli': 'Peripheral areas', 'Babusabpalya': 'South Bangalore', 'Mahadevpura': 'East Bangalore', 'Anjanapura 11th Block': 'South Bangalore', 'Pavamananagar': 'Peripheral areas', 'IVC Road': 'Peripheral areas', 'NR Colony': 'Central Bangalore', 'Sadahalli': 'North Bangalore', 'Balagere': 'West Bangalore', 'banashankari 6th stage': 'West Bangalore', 'Yelahanka Airforce Base': 'West Bangalore', '1st Block Jayanagar': 'South Bangalore', 'Baiyappanahalli': 'East Bangalore', 'Hennur Bagalur Road': 'North Bangalore', 'Chagaletty Road': 'Peripheral areas'}

In [81]:
responce1.to_csv("responce1.csv")
responce2.to_csv("responce2.csv")
responce3.to_csv("responce3.csv")

In [364]:
responce1=pd.DataFrame(pd.read_csv(r"C:\Users\bhupe\Downloads\responce1.csv")).iloc[:,1:]
responce2=pd.DataFrame(pd.read_csv(r"C:\Users\bhupe\Downloads\responce2.csv")).iloc[:,1:]
responce3=pd.DataFrame(pd.read_csv(r"C:\Users\bhupe\Downloads\responce3.csv")).iloc[:,1:]

In [365]:
responce1

                   Locality            Region
0                    Jakkur   North Bangalore
1            Subramanyapura   South Bangalore
2                    Bidadi  Peripheral areas
3               Bommasandra   South Bangalore
4      Rajarajeshwari Nagar    West Bangalore
5                    Gunjur    East Bangalore
6           Krishnarajapura    East Bangalore
7                  Horamavu    East Bangalore
8                   Hoskote    East Bangalore
9               Uttarahalli    West Bangalore
10      Mallasandra Hoskote    East Bangalore
11            Kada Agrahara   South Bangalore
12                  Kodathi  Peripheral areas
13     Badamanavarathekaval  Peripheral areas
14                 Sarjapur    East Bangalore
15              S Bingipura  Peripheral areas
16                Yelahanka   North Bangalore
17  Electronic City Phase 1   South Bangalore
18     Devarachikkana Halli    West Bangalore
19              Brookefield    West Bangalore
20         Kachamaranahalli    East Bangalore
21                    Hosur  Peripheral areas
22              Devanahalli   North Bangalore
23              Kodigehalli    East Bangalore
24               Chandapura    East Bangalore

In [366]:
Responce=[responce1,responce2,responce3]
Responce=pd.concat(Responce)

In [367]:
df= pd.merge(df,Responce, on='Locality', how='left')

In [421]:
df

,Property,Locality,Price,Area(Sq.ft),Status,Details,Bathrooms,Region,No of Bedrooms
0,4 BHK Villa in Theme Signature One,Devanahalli,28000000.0,3195,Under Construction,Possession by Apr 20274 BathroomsNew,4.0,North Bangalore,4 BHK
1,4 BHK Villa in Theme Signature One,Devanahalli,28000000.0,3195,Under Construction,Possession by Apr 20274 BathroomsNew,4.0,North Bangalore,4 BHK
2,4 BHK Villa in Theme Signature One,Subramanyapura,28000000.0,3195,Under Construction,Possession by Apr 20274 BathroomsNew,4.0,South Bangalore,4 BHK
3,4 BHK Apartment in Prestige Raintree Park,Brookefield,40500000.0,3200,Under Construction,Possession by May 20284 BathroomsNew,4.0,West Bangalore,4 BHK
4,4 BHK Apartment in Keya Life By The Lake,Kachamaranahalli,38600000.0,3300,Ready to move,2 - 3 years old4 BathroomsNew,4.0,East Bangalore,4 BHK
...,...,...,...,...,...,...,...,...,...
16576,2 BHK Apartment in DSR Green Waters,Varthur,7764000.0,1004,Under Construction,Possession by Mar 20252 BathroomsNew,2.0,East Bangalore,2 BHK
16577,2 BHK Apartment in DSR Green Waters,Varthur,8468000.0,1095,Under Construction,Possession by Mar 20252 BathroomsNew,2.0,East Bangalore,2 BHK
16578,3 BHK Apartment in Goyal Orchid Life,Gunjur Palaya,19400000.0,1450,Under Construction,Possession by Feb 20303 BathroomsNew,3.0,East Bangalore,3 BHK
16579,3 BHK Apartment in Goyal Orchid Life,Gunjur Palaya,18400000.0,1756,Under Construction,Possession by Feb 20303 BathroomsNew,3.0,East Bangalore,3 BHK
16580,2 BHK Apartment in Goyal Orchid Life,Gunjur Palaya,8515000.0,811,Under Construction,Possession by Feb 20301 BathroomsNew,1.0,East Bangalore,2 BHK

In [369]:
df=df.dropna(ignore_index=True)

In [371]:
df.shape

(16581, 8)

In [383]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16581 entries, 0 to 16580
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Property     16581 non-null  object
 1   Locality     16581 non-null  object
 2   Price        16581 non-null  float64
 3   Area(Sq.ft)  16581 non-null  int64
 4   Status       16581 non-null  object
 5   Details      16581 non-null  object
 6   Bathrooms    16581 non-null  float64
 7   Region       16581 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.0+ MB

In [416]:
def extract_bhk_and_type(text):
    words = text.split()  # Split the string into words
    bhk = ' '.join(words[:2])  # Join the first two words (e.g., "4 BHK")
    property_type = words[2]  # The third word is the property type (e.g., "Villa" or "Apartment")
    return bhk, property_type

In [417]:
dj=pd.DataFrame()

In [422]:
df[['BHK', 'Property_Type']] = df['Property'].apply(extract_bhk_and_type).apply(pd.Series)

C:\Users\bhupe\AppData\Local\Temp\ipykernel_4632\3845212527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['BHK', 'Property_Type']] = df['Property'].apply(extract_bhk_and_type).apply(pd.Series)
C:\Users\bhupe\AppData\Local\Temp\ipykernel_4632\3845212527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['BHK', 'Property_Type']] = df['Property'].apply(extract_bhk_and_type).apply(pd.Series)

In [423]:
df

,Property,Locality,Price,Area(Sq.ft),Status,Details,Bathrooms,Region,No of Bedrooms,BHK,Property_Type
0,4 BHK Villa in Theme Signature One,Devanahalli,28000000.0,3195,Under Construction,Possession by Apr 20274 BathroomsNew,4.0,North Bangalore,4 BHK,4 BHK,Villa
1,4 BHK Villa in Theme Signature One,Devanahalli,28000000.0,3195,Under Construction,Possession by Apr 20274 BathroomsNew,4.0,North Bangalore,4 BHK,4 BHK,Villa
2,4 BHK Villa in Theme Signature One,Subramanyapura,28000000.0,3195,Under Construction,Possession by Apr 20274 BathroomsNew,4.0,South Bangalore,4 BHK,4 BHK,Villa
3,4 BHK Apartment in Prestige Raintree Park,Brookefield,40500000.0,3200,Under Construction,Possession by May 20284 BathroomsNew,4.0,West Bangalore,4 BHK,4 BHK,Apartment
4,4 BHK Apartment in Keya Life By The Lake,Kachamaranahalli,38600000.0,3300,Ready to move,2 - 3 years old4 BathroomsNew,4.0,East Bangalore,4 BHK,4 BHK,Apartment
...,...,...,...,...,...,...,...,...,...,...,...
16576,2 BHK Apartment in DSR Green Waters,Varthur,7764000.0,1004,Under Construction,Possession by Mar 20252 BathroomsNew,2.0,East Bangalore,2 BHK,2 BHK,Apartment
16577,2 BHK Apartment in DSR Green Waters,Varthur,8468000.0,1095,Under Construction,Possession by Mar 20252 BathroomsNew,2.0,East Bangalore,2 BHK,2 BHK,Apartment
16578,3 BHK Apartment in Goyal Orchid Life,Gunjur Palaya,19400000.0,1450,Under Construction,Possession by Feb 20303 BathroomsNew,3.0,East Bangalore,3 BHK,3 BHK,Apartment
16579,3 BHK Apartment in Goyal Orchid Life,Gunjur Palaya,18400000.0,1756,Under Construction,Possession by Feb 20303 BathroomsNew,3.0,East Bangalore,3 BHK,3 BHK,Apartment
16580,2 BHK Apartment in Goyal Orchid Life,Gunjur Palaya,8515000.0,811,Under Construction,Possession by Feb 20301 BathroomsNew,1.0,East Bangalore,2 BHK,2 BHK,Apartment

In [415]:
df["No of Bedrooms"]=df["Property"].apply(extract_property_BHK)
df["No of Bedrooms"].value_counts()

C:\Users\bhupe\AppData\Local\Temp\ipykernel_4632\1495815977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["No of Bedrooms"]=df["Property"].apply(extract_property_BHK)

No of Bedrooms
3 BHK     7464
2 BHK     5413
4 BHK     2472
1 BHK      591
5 BHK      363
6 BHK       89
10 BHK      58
7 BHK       53
8 BHK       30
1 RK        29
9 BHK       18
14 BHK       1
Name: count, dtype: int64

In [425]:
df["Property_Type"].value_counts()

Property_Type
Apartment      13848
Independent     1533
Villa           1171
Studio            29
Name: count, dtype: int64