In [19]:
#Required Liberaries
import pandas as pd
import numpy as np

In [20]:
#Loading Scrapped Data
df1=pd.read_csv(r'C:\Users\bhupe\Downloads\makan1.csv')
df2=pd.read_csv(r"C:\Users\bhupe\Downloads\makan2.csv")
df3=pd.read_csv(r"C:\Users\bhupe\Downloads\makan3.csv")
df4=pd.read_csv(r"C:\Users\bhupe\Downloads\makan4.csv")
df5=pd.read_csv(r"C:\Users\bhupe\Downloads\makan5.csv")
df6=pd.read_csv(r"C:\Users\bhupe\Downloads\makan6.csv")
df7=pd.read_csv(r"C:\Users\bhupe\Downloads\makan7.csv")
df8=pd.read_csv(r"C:\Users\bhupe\Downloads\makan8.csv")
df9=pd.read_csv(r"C:\Users\bhupe\Downloads\makan9.csv")

In [21]:
# look at shape of all scrapped data
print("df1--",df1.shape)
print("df2--",df2.shape)
print("df3--",df3.shape)
print("df4--",df4.shape)
print("df5--",df5.shape)
print("df6--",df6.shape)
print("df7--",df7.shape)
print("df8--",df8.shape)
print("df9--",df9.shape)

df1-- (2980, 7)
df2-- (8420, 7)
df3-- (5000, 7)
df4-- (5000, 7)
df5-- (440, 7)
df6-- (960, 7)
df7-- (480, 7)
df8-- (820, 7)
df9-- (660, 7)

Concate Dataframes

In [22]:
dataframes=[df1,df2,df3,df4,df5,df6,df7,df8,df9]
df=pd.concat(dataframes)
df.to_csv("concated.csv")
print(f'size of Data Frame after concatination--{df.shape}')

size of Data Frame after concatination--(24760, 7)

Data Frame Correction

In [23]:
df.head()

,Unnamed: 0,property,location,price,area,furnished status,additional details
0,0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",5.29 Cr,4520,Ready to move Construction Status,2 - 3 years oldNew
1,1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",94.93 L,1040,Ready to move Construction Status,2 - 3 years oldNew
2,2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",28.63 L,1146,New New/Resale,0 - 1 year old
3,3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",63.93 L,870,Under Construction Construction Status,Possession by Aug 2024New
4,4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",95.21 L,1045,Under Construction Construction Status,Possession by Jul 2025New

In [24]:
df=df.iloc[:,1:]
df.head()

,property,location,price,area,furnished status,additional details
0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",5.29 Cr,4520,Ready to move Construction Status,2 - 3 years oldNew
1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",94.93 L,1040,Ready to move Construction Status,2 - 3 years oldNew
2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",28.63 L,1146,New New/Resale,0 - 1 year old
3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",63.93 L,870,Under Construction Construction Status,Possession by Aug 2024New
4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",95.21 L,1045,Under Construction Construction Status,Possession by Jul 2025New

In [25]:
# Renaming Columns 
df.rename(columns={'property': 'Property',
                   'location': 'Locality',
                   'price': 'Price',
                   'area': 'Area(Sq.ft)',
                   'furnished status': 'Status',
                   'additional details': 'Details'}, 
          inplace=True)

df.head()

,Property,Locality,Price,Area(Sq.ft),Status,Details
0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",5.29 Cr,4520,Ready to move Construction Status,2 - 3 years oldNew
1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",94.93 L,1040,Ready to move Construction Status,2 - 3 years oldNew
2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",28.63 L,1146,New New/Resale,0 - 1 year old
3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",63.93 L,870,Under Construction Construction Status,Possession by Aug 2024New
4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",95.21 L,1045,Under Construction Construction Status,Possession by Jul 2025New

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24760 entries, 0 to 659
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Property     24760 non-null  object
 1   Locality     24760 non-null  object
 2   Price        24760 non-null  object
 3   Area(Sq.ft)  24760 non-null  int64
 4   Status       24760 non-null  object
 5   Details      24621 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.3+ MB

"Price" Column Cleaning

In [27]:
# Function to convert Price into numbers(int)
def convert_price(value):
    if 'L' in value:
        value=value.replace('L', '')
        return float(value) * 100000  # Convert Lakhs to actual number
    elif 'Cr' in value:
        value=value.replace('Cr', '')
        return float(value) * 10000000  # Convert Crores to actual number
    else:
        return float(value)

In [28]:
df["Price"]=df["Price"].apply(convert_price)

In [29]:
df["Price"]

0      52900000.0
1       9493000.0
2       2863000.0
3       6393000.0
4       9521000.0
          ...
655    16700000.0
656    11800000.0
657    18100000.0
658    13100000.0
659    16800000.0
Name: Price, Length: 24760, dtype: float64

"Status" column cleaning

In [30]:
df.head()

,Property,Locality,Price,Area(Sq.ft),Status,Details
0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",52900000.0,4520,Ready to move Construction Status,2 - 3 years oldNew
1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",9493000.0,1040,Ready to move Construction Status,2 - 3 years oldNew
2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",2863000.0,1146,New New/Resale,0 - 1 year old
3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",6393000.0,870,Under Construction Construction Status,Possession by Aug 2024New
4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",9521000.0,1045,Under Construction Construction Status,Possession by Jul 2025New

In [31]:
df["Status"]=df["Status"].str.replace('Construction Status','')

In [32]:
df["Status"]=df["Status"].str.replace('New/Resale','')
df["Status"].unique()

array(['Ready to move ', 'New ', 'Under Construction ', 'Resale '],
      dtype=object)

In [33]:
df["Status"]=df["Status"].str.rstrip()
df["Status"].unique()

array(['Ready to move', 'New', 'Under Construction', 'Resale'],
      dtype=object)

In [34]:
df.head()

,Property,Locality,Price,Area(Sq.ft),Status,Details
0,5 BHK Apartment in Keya Life By The Lake,"Jakkur, Bangalore",52900000.0,4520,Ready to move,2 - 3 years oldNew
1,2 BHK Apartment in Mantri Serenity,"Subramanyapura, Bangalore",9493000.0,1040,Ready to move,2 - 3 years oldNew
2,Residential Plot in Vinyasa Greenland,"Bidadi, Bangalore",2863000.0,1146,New,0 - 1 year old
3,2 BHK Apartment in Ma Sarada Upavan,"Bommasandra, Bangalore",6393000.0,870,Under Construction,Possession by Aug 2024New
4,2 BHK Apartment in Elegant Tranquility,"Rajarajeshwari Nagar, Bangalore",9521000.0,1045,Under Construction,Possession by Jul 2025New

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24760 entries, 0 to 659
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Property     24760 non-null  object
 1   Locality     24760 non-null  object
 2   Price        24760 non-null  float64
 3   Area(Sq.ft)  24760 non-null  int64
 4   Status       24760 non-null  object
 5   Details      24621 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ MB

In [36]:
df.to_csv("cleaned_makan_data.csv")